/*
==============================================
==============================================
POSITION
==============================================
==============================================
*/

/*[class*="col-"] {
  padding: 0;
  margin: 0;
}*/


.height-100{
  height: 100vh;
}

.height-90{
  height: 90vh;
}

.padding-texte{
  padding : 1em;
}

.container-relative{
  position: relative;
}

.flex{
  display: flex;
}

/* centrer verticalement plusieurs elements dans son bloc*/
.block-center-vertical{
  display: flex;
  align-items:center;
}

/*center horizontalement plusieurs elements dans son bloc*/
.block-center-horizontal{
  display: flex;
  justify-content: center;
}

/*center 1 element dans son bloc*/
.block-center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
   -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*center 1 element dans son bloc*/
.block-centerIE{

   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: calc(100%/8);

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.block-end{
  display: flex;
  align-items: flex-end;

}

.block-center-end{
  display: flex;
  justify-content: center;
  align-items: flex-end;

}


/* center en colonne 2 elements et + dans son bloc */
.block-center-list{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

/* center en colonne 2 elements et + dans son bloc */
.block-center-listEI{
  display: flex;
  flex-direction:column;
  justify-content: center;
}


/*center en colonne et espacer verticalement 2 elemeets et + dans son bloc */
.block-center-space-list{
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-between;
}

.block-right-center{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.block-left-center{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.space-height{
  height : 5vh;
}



/*
==============================================
==============================================
COLORS
==============================================
==============================================
*/
 .font-white {
   color: white;
 }

 .font-white p{
   color: white;
 }

  .font-white a{
   color: white;
 }

 .background-black{
   background-color: black;
 }

 .background-black-height-100{
   background-color: black;
 }

.font-marron{
   color: #b29e85;
 }

 .background-marron{
   background-color: #b29e85;
   padding: 0 8px;
 }

 /* =====================================
tablets ++
 ===================================== */
@media only screen and (min-width: 767px){
  .background-black-height-100{
   background-color: black;
   height: 100vh;
 }

}



/*
==============================================
==============================================
FONTS
==============================================
==============================================
*/

.italic-font{
  font-style: italic;
}

.small-font{
  font-size: 0.7rem;
  font-family: 'Open Sans', sans-serif;
}

.bold-font{
   font-weight: 700;
}

.light-font{
   font-weight: 300;
}


/*MEDIA QUERIES*/

/* =====================
desktops ++
=====================*/
@media only screen and (min-width: 1450px){

#picto-caractere{
  font-size: 1.6rem;
}

.small-font{
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
}
}

/* =====================
desktops and --
=====================*/
@media only screen and (max-width: 1449px){

#picto-caractere{
  font-size: 1.4rem;
}
}


/*
==============================================
==============================================
BOUTONS
==============================================
==============================================
*/

.btn-color{
  font-family: 'Rubik', sans-serif;
  color: white;
  background-color:transparent;
  text-align: center;
  border: 1px solid #ffffff;
}

.btn-color:link{
  color: white;
  text-decoration: none;
  background-color:transparent;
}

.btn-color:visited{
  color: white;
  text-decoration: none;
  background-color:transparent;
}

.btn-color:hover{
 color: black;
 text-decoration: none;
 background-color: white;
}

.btn-color:active{
 color: black;
 text-decoration: none;
 background-color: white;
}



/*MEDIA QUERIES*/

/* =====================
desktops ++
=====================*/
@media only screen and (min-width: 1450px){

.btn-color{
  font-size: 1rem;
  width: 160px;
  height: 50px;
  padding: 15px 0;
  margin: 10px;
}
}

/* =====================
desktops and --
=====================*/
@media only screen and (max-width: 1449px){

.btn-color{
  font-size: 0.8rem;
  width: 160px;
  height: 50px;
  padding: 15px 0;
  margin: 5px;
}
}


.btn-color-chevron{
  font-family: 'Rubik', sans-serif;
  color: white;
  background-color:transparent;
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  border: 1px solid #ffffff;
  margin: 1rem;

}

.btn-color-chevron:link{
 color: white;
 text-decoration: none;
  background-color:transparent;
}

.btn-color-chevron:visited{
 color: white;
 text-decoration: none;
  background-color:transparent;
}

.btn-color-chevron:hover{
 color: black;
 text-decoration: none;
 background-color: white;
}

.btn-color-chevron:active{
 color: black;
 text-decoration: none;
 background-color: white;
}

.chevron-noir{
  color: rgba(0,0,0,0.3);
  position: relative;
  font-size: 4em;
  bottom: 1.4em;
  z-index: 100;

}

.chevron-noir:link{
  color: rgba(0,0,0,0.3);
}

.chevron-noir:visited{
  color: rgba(0,0,0,0.3);
}

.chevron-noir:hover{
  color: rgba(0,0,0,0.3);
}

.chevron-noir:active{
  color: rgba(0,0,0,0.3);
}

.chevron-blc{
  color: rgb(255,255,255);
  font-size: 4rem;
  position: relative;
  top:-1.2rem;
}

.chevron-blc:link{
  color: rgb(255,255,255);
}

.chevron-blc:visited{
  color: rgb(255,255,255);
}

.chevron-blc:hover{
  color: rgb(255,255,255);
}

.chevron-blc:active{
  color: rgb(255,255,255);
}


.explorez{
  height: 10vh;

}

.border-white{
  border-left:1px solid white;
  padding-left: 1rem;
}

.border-title{
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}


/*
==============================================
==============================================
AUTRES ELEMENTS
==============================================
==============================================
*/


/*MEDIA QUERIES*/

/* =====================
tablets and ++
=====================*/
@media only screen and (min-width: 768px){

/*jquery texte background black*/
.section{
  padding: 4em 2rem 2rem 2rem;

}
}

/* =====================================
only smartphone and smarphone landscape
 ===================================== */
@media only screen and (max-width: 767px){

/*jquery texte background black*/
.section{
  padding: 2rem 1rem 1rem 1rem;
}
}

.container-illustration{
  position: relative;
  margin: 10vh 0;
}


.img-container{
  z-index: 1;
  height: 80vh;
}

.fleche{
  position: absolute;
  top: 2rem;
  left: -10em;
  z-index: 10;
}


/*header 4 parties */
.header-container{
  position: relative;
  height: 100vh;
}

.background-container-header{

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url(../images/fond_graphique2.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  z-index: 10;

}


/*fond graphic centré opacity++ */
.container-background-graphic{
  background-image:url(../images/fond_graphique2.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-attachment: fixed;

}

/*fond graphic centré opacity+++ */
.container-background-graphic2{
  background-image:url(../images/fond_graphique3.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-attachment: fixed;

}

/*fond beige apropos / armes */
.container-background-graphic3{
  background-image: url(../images/fond_graphique.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-position: (0);
  height: 100%;
  z-index: -10;

}

