.background-header-marvel {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 98%),
    url(../images/projet_marvel_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}

@media (min-width: 1450px), (-webkit-min-device-pixel-ratio: 2) {
  .background-header-marvel {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 98%),
      url(../images/projet_marvel_header_HD.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  }
}

.background-color-marvel {
  background: linear-gradient(90deg, #a5a5a5 60%, #8d8d8d 90%);
}

@media only screen and (max-width: 767px) {
  .background-color-marvel {
    background: linear-gradient(90deg, #a5a5a5 60%, #8d8d8d 90%);
  }
}
