.background-header-charte-private {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 95%),
    url(../images/projet_charte_private_header_HD.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
}

@media (min-width: 1450px), (-webkit-min-device-pixel-ratio: 2) {
  .background-header-charte-private {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 95%),
      url(../images/projet_charte_private_header_HD.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
  }
}

.background-color-charte-private {
  background: linear-gradient(90deg, #99112f 60%, #ab1e2b 90%);
}
