.background-header-vinted {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 98%),
    url(../images/projet_vinted_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}

@media (min-width: 1450px), (-webkit-min-device-pixel-ratio: 2) {
  .background-header-vinted {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 98%),
      url(../images/projet_vinted_header_HD.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  }
}

.background-color-vinted {
  background: linear-gradient(90deg, #10acb7 60%, #19c3cf 90%);
}

@media only screen and (max-width: 767px) {
  .background-header-vinted {
    background-position: 60% 50%;
  }
}
