.background-header-memoire{
  background: linear-gradient(180deg, rgba(0,0,0,0)20%, rgba(0,0,0,1)95%), url(../images/projet_memoire_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}

@media(min-width: 1450px),(-webkit-min-device-pixel-ratio: 2){
  .background-header-memoire{
    background: linear-gradient(180deg, rgba(0,0,0,0)20%, rgba(0,0,0,1)95%), url(../images/projet_memoire_header_HD.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  }
}

.background-color-memoire{
  background: linear-gradient(90deg, #156783 20%, #14576e 80%);

}

@media only screen and (max-width: 767px) {
.background-color-memoire{
  background: linear-gradient(90deg, #156783 20%, #187393 80%);
}
}
